body {
    font-family: verdana, sans-serif;
    margin: 20px;

    img {
        max-width: 20px;
        height: auto;
    }
}

h1 {
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #999;
    min-width: 80px;
    height: 30px;
    text-align: center;
}

th {
    background-color: #ddd;

}

td {
    background-color: white;
}
#hoja {
    margin-top: 20px;
}

.positivo {
    background-color: #d4edda;
}

.negativo {
    background-color: #f8d7da;
}

.error {
    background-color: #fff3cd;
    font-weight: bold;
}